<!doctype html>
<html>

<head>
    <title>Streaming Storyline</title>
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/style.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/d3.css" media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>

    </style>
</head>

<body>
    <div class="navbar-fixed">
        <nav class="teal">
            <div class="nav-wrapper container row" style="width:85%">
                <!-- logo -->
                <a class="brand-logo">
                    <!-- <h2> -->
                    Streaming Storyline
                    <!-- </h2> -->
                </a>
                <!-- 顶部navbar右侧的按钮     -->
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="">Xiao Jiannan</a></li>
                    <li><a href="">Ren Qian</a></li>
                    <li><a href="">Zhou Bowei</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <main class="container" style="width:85%">
        <div class="row"></div>
        <!-- storyline -->

        <!-- minimap -->
        <div class="row card-panel">
            <div class="col s12">
                <div class="">
                    <div style="height:300px;">
                        <!--storyline here-->
                        <defs>
                        <filter id="filter1" x="0" y="0">
                        <feOffset result="offOut" in="SourceAlpha" dx="-5" dy="-5" />
                        <feGaussianBlur result="blurOut" in="offOut" stdDeviation="3" />
                        <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
                        </filter>
                        </defs>

                        <div id="streaming-storyline">
                        </div>

                    </div>
                </div>
            </div>

            <div class="col s6 offset-s3">
                <div class="row">
                    <div class="col s8">
                        <div id="dataset" class="input-field">
                            <select id="dataset-selector">
                                <!--<option value="Inception" disabled selected>Datasets</option>-->
                                <option value="Inception" selected>Inception</option>
                                <option value="StarWars">Star Wars</option>
                                <option value="TheMatrix">The Matrix</option>
                            </select>
                        </div>
                    </div>
                    <div class="col s4" style="padding-top:36px;">
                        <i id="replay" class="material-icons">replay</i>
                        <i id="stop" class="material-icons">stop</i>
                        <i id="play" class="material-icons">play_circle_outline</i>
                    </div>
                </div>
            </div>

            <div class="col s12">
                <div class="">
                    <div style="height:100px;">
                        <!--<a id="loading-start" class="btn"></a>-->
                        <div id="mm_area">
                            <div id="mm_canvas_container">
                                <canvas id="minimap" width="2000px" height="100px">
                                </canvas>
                            </div>
                            <div class="mm_select_box mm_gray"></div>
                            <div class="mm_select_box mm_orange"></div>
                            <!-- <div class="mm_select_box mm_gray_debug center"></div> -->
                            <div class="mm_mask"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--<a id="loading-start" class="btn">start data transfering</a>-->
    <!--<a id="loading-stop" class="btn">stop data transfering (Debug use)</a>-->


    <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/network.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/d3.v3.min.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <script type="text/javascript" src="js/tools.js"></script>
    <script type="text/javascript" src="js/minimap.js"></script>
    <script type="text/javascript" src="js/streaming_storyline.js"></script>
    <script type="text/javascript" src="js/network.js"></script>
    <!-- <script type="text/javascript" src="js/fisheye.js"></script> -->
    <script type="text/javascript" src="js/main.js"></script>
    <!--<script type="text/javascript" src="js/test_main.js"></script>-->

    <script>
        if (localStorage.client_id == undefined) {
            localStorage.client_id = Math.random().toString().split('.')[1];
        }

        $(document).ready(function() {
            $('.modal-trigger').leanModal();
            $('.collapsible').collapsible();
        });
    </script>

</body>

</html>
